<!DOCTYPE html>
<html>
	<head>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
		<title> INTRANET </title>
	</head>

	<body>
		<!-- Navigation -->
		<img src="imagens - site/quanta.gif">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top topo2">
      <div class="container">
        <%= image_tag "imagens - site/quanta.gif" , class:"foto" %>
        <div>
        	<a class="navbar-brand bk_transparent" href="#">Intranet</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link nav_i" href="#"> <%= link_to "Sair", destroy_user_session_path, method: :delete %> </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<nav class="navbar navbar-expand-lg navbar-light sub-topo2">
	  <div class="collapse navbar-collapse" >
	   <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n" href="#"> <%= image_tag "imagens - site/house.png" , class:"img_house" %> </a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n" href="meu_perfil">Meu perfil</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n" href="meus_contatos">Meus contatos</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n" href="atividas">Minhas atividades</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n" href="comunidades">Minhas comunidades</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n" href="foruns">Meus fóruns</a>
	    	</li>
	    </ul>
	    <ul class="navbar-nav"> 
	    	<li class="nav-item"> 
	    	<a class="nav-link n" href="calendarios">Meus calendários</a>
	    	</li>
	    </ul>
	  </div>
	  <div class="navbar navbar-header navbar-fixed-top">
	<div class="container">
	    <div class="navbar-collapse collapse">
	        <div class="nav navbar-nav navbar-right">
	            <form role="search" class="navbar-form">
	                <div class="form-group has-feedback">
	                    <input type="text" class="form-control" placeholder="Procurar" />
	                    <span class="form-control-feedback glyphicon glyphicon-search"></span>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
	</nav>

	<!-- Corpo do site -->
	<section class="conteudo">
		<article class="column1 toper">
			<ul class="lista1">
				<li class="perfil box">
					<div class="div_container container_perfil">
						<div class="m_perfil div_title">
							<h2>Meu Perfil</h2>
						</div>
						<div class="descrition">
							<div class="descrition_perfil">
								<%= image_tag "imagens - site/foto.jpg" , class:"foto" %>
								<h2 class="nome_user">Emerson Rocha</h2>
								<h3 class="ed_perfil"><a href="#">(Editar)</a></h3>
							</div>
						</div>
					</div>
				</li>

				<li class="contatos box">
					<div class="div_container container_contatos">
						<div class="m_contatos div_title">
							<h2>Meus Contatos</h2>
						</div>

						<div class="view_contatos">
						</div>
					</div>

				</li>

				<li class="calendario box">
					<div class="div_container container_calendario">
						<div class="m_calendario div_title">
							<h2>Meu Calendário</h2>
						</div>

						<div class="view_calendario">
						</div>
					</div>

				</li>

			</ul>
		</article>

		<article class="column2 toper">
			<ul class="lista2">
				<li class="box">
					<div class="div_container container_atividades">
						<div class="m_atividades div_title">
							<h2>Mural de Atividades</h2>
						</div>
						<div class="view_atividades">
							
						</div>
					</div>
				</li>
				<li class="box">
					<div class="div_container container_m_atividades">
						<div class="m_atividades div_title">
							<h2>Minhas Atividades</h2>
						</div>
						<div class="view_atividades">
							
						</div>
					</div>
				</li>
				<li class="box">
					<div class="div_container container_noticias">
						<div class="m_noticias div_title">
							<h2>Notícias</h2>
						</div>
						<div class="view_noticias">
							
						</div>
					</div>
				</li>
			</ul>
		</article>

		<article class="column3 toper">
			<ul class="lista3">
				<li class="box">
					<div class="div_container container_comunidades">
						<div class="m_comunidades div_title">
							<h2>Minhas Comunidades</h2>
						</div>
						<div class="view_comunidades">
							
						</div>
					</div>
				</li>

				<li class="box">
					<div class="div_container container_comunidades">
						<div class="m_comunidades div_title">
							<h2>  Wikis e Blogs </h2>
						</div>
						<div class="view_comunidades">
							
						</div>
					</div>
				</li>
			</ul>
		</article>
	</section>
   
	</body>
</html>