<section style="text-align: center;">
<h1>Editing Minhas Atividade</h1>

<%= render 'form', minhas_atividade: @minhas_atividade %>

<%= link_to 'Show', @minhas_atividade %> |
<%= link_to 'Back', minhas_atividades_path %>
</section>