<section style="text-align: center;">
<h1>Nova Atividade</h1>

<%= render 'form', mural_atividade: @mural_atividade %>

<%= link_to 'Voltar', mural_atividades_path, class:"btn btn-secondary" %>
</section>