<p id="notice"><%= notice %></p>

<p>
  <strong>Atividade:</strong>
  <%= @mural_atividade.atividade %>
</p>

<%= link_to 'Edit', edit_mural_atividade_path(@mural_atividade) %> |
<%= link_to 'Back', mural_atividades_path %>
