// Place all the styles related to the editar_perfil controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_image{
	text_align: center;
}


.container-edit-perfil{
	padding:70px;
}



#user_username{
	width: 300px;
}