// Place all the styles related to the mural_atividades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_atividade:hover{
	background-color: transparent !important;
	text-decoration: none;
	color: white !important;
}

.new_atividade{
	color: white !important;
}

.btn{
	color:white !important;
	text-decoration: none !important;

}

table{
	margin-top: 70px;	

}

.button{
	margin-top: 70px;
}

.home{
	color:white !important;
	text-decoration: none !important;
}

.home:hover{
	background-color: transparent !important;
	text-decoration: none;
	color: white !important;
}

.new_atividade{
	text-decoration: none !important;
}