// Place all the styles related to the mural_atividades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_atividade:hover{
	background-color: transparent !important;
	text-decoration: none;
	color: white !important;
	
}

.center{
	text-align: center;
}

.btn{
color:white !important;

}