// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--------edição geral e navegação----------*/

.topo2{
	  background: linear-gradient(to right, #fe8c00, #f83600); 
}
.sub-topo2{
	background-color: #D3D3D3;
	height:39px !important;
	margin-top: 60px !important;
}
.nav_itens{
	margin: 10px;
	font-size:13px;
	color: #696969 !important;
}

.img_house{
	width: 25px;
	height:21px;
}
.nav_itens:hover{
	background-color: #C0C0C0 !important;
	color: #000000 !important;
}

.sair{
	color: black !important;
}

.sair:hover{
	background-color: transparent;
	text-decoration: none;
}

.container div {
	margin-left: 6px !important;
}
.foto{
	width:130px;
	heigth:140px;
}

/* -------GERAL DAS COLUNAS----------*/

.conteudo {
	display: flex;
	flex-direction:row;
	align-items: center;
	margin-top: 130px;
}

.toper ul{
	margin-top: 30px;
}

.div_title{
	background-color: #A52A2A;	
	border-radius: 10px 10px 0px 0px;
	height: 35px;
}

.div_title>h2 {
	font-size: 13px;
	color:white;
	margin-top: 7px;
	padding: 5px;
	list-style:none;
}

article ul li div {
	text-align:left !important;
}

.box{
	text-decoration: none;
	list-style: none;
}

.div_container{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color: #C0C0C0;
	border-radius: 10px;
	border: 5px;
}



/*---------COLUNA 1----------*/

.conteudo article{
	margin: 20px;
}

.lista1 li{
	margin: 9px;
}

.conteudo .column1{
	width: 210px;
	height:1000px;
}

.m_perfil{
	width: 175px;
}

.m_contatos{
	width: 175px;	
}
.perfil{
	width: 180px;
	height: 245px;
}
.ed_perfil{
	text-align: right;
}
.ed_perfil a {
	font-size: 9px;
	color: #FF6347;
}
.ed_perfil a:hover{
	background-color:transparent !important;
	text-decoration:none;
	color: #800000;
}

.container_perfil{
	width: 175px;
	height:245px;
}
.nome_user{
	font-size: 12px;
	margin-top: 3px;
}
.descrition{
	margin-top: 10px;
	background-color: white;
	width: 150px;
	height: 193px;
}
.descrition_perfil{
	padding: 10px;
}
.container_contatos{
	width: 175px;
	height:300px;
}
.view_contatos{
	margin: 9px;
	background-color: white;
	width: 160px;
	height: 250px;
}

.container_calendario{
	width: 175px;
	height:300px;
}

.view_calendario{
	margin: 9px;
	background-color: white;
	width: 160px;
	height: 250px;
}

.m_calendario{
	width: 175px;		
}

.campo{
	width: 110px !important;
	height: 30px;
	margin-top: 8px;
}

.ir{
	width: 40px;
	height: 30px;
	margin-top: 8px;
	margin-left: 5px;
}

/*---------COLUNA 2----------*/


.conteudo .column2{
	width: 500px;
	height: 1000px;
}

.m_atividades{
	width: 500px;

}

.container_atividades{
	height: 250px;
	width:500px;

}

.view_atividades{
	margin: 9px;
	background-color: white;
	width: 490px;
	height: 170px;
	overflow:auto;

}

.view_m_atividades{
	margin: 9px;
	background-color: white;
	width: 490px;
	height: 170px;
	overflow:auto;

}

.lista2 li{
	margin: 9px;

}

.container_m_atividades{
	height: 250px;
	width: 500px;

}

.container_noticias{
	height: 350px;
	width: 500px;
}

.m_noticias{
	width: 500px;

}

.view_noticias{
	height: 270px;
	margin: 9px;
	background-color: white;
	width: 480px;
	overflow: auto;
}


/----botões---/

.btn1{
	position: absolute !important;
}


.btn2{
	position: absolute !important;
	top: 655px;
	left: 600px;
	height: 30px;
}

.btn-crud:hover{
	color: white !important;
}


.btn3{
	position: absolute !important;
	top: 1015px;
	left: 680px;
	height: 30px;
}

.btn-crud{
	color: black !important;
	font-size: 12px;
}

.btn-crud:hover{
	background-color: transparent !important;
	text-decoration: none;
}

.post-atividades{
	padding: 10px;
}

.postador{
	font-size: 12px;
	color: #A52A2A;
}

.postagem{
	font-size: 9px;
	margin-left: 10px;
}

.campo_noticias {
	padding: 15px;
	width:100; 
	height:50; 
	z-index:1; 
	overflow: auto;
}

.titulo_not{
	font-size: 13px;
	color: #A52A2A;
	height: 10px;

}

.texto_not{
	 word-wrap: break-word;
}

.texto_not a{
	font-size: 10px;
	color: #696969;
}

.div_titulo{
	height: 27px;

}

.div_texto{
	margin-left: 20px;
}

.table-atividades{
	margin-top: 10px;
	font-size: 11px;
	color: #696969;
}
.thead-atividades{
	width: 300px;
}

.td-atividade{
	font-size: 11px;
	color: #A52A2A;
	 word-wrap: break-word;

}

.td-responsavel{
	font-size:11px;
	color: black;
	 word-wrap: break-word;
}

.table-atividades thead{
	background-color: #D3D3D3 !important;

}

/*---------COLUNA 3----------*/


.conteudo .column3{
	width: 300px;
	height: 1000px;
}

.container_comunidades{
	height: 350px;
	width:200px;

}

.m_comunidades{
	width: 200px;
}

.lista3 li{
	magin-left: 5px;
	margin: 9px;

}

.view_comunidades{
	width: 180px;
	height: 340px;
	margin: 9px;
	background-color: white;
}