// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--------edição geral e navegação----------*/

.topo2{
	  background: linear-gradient(to right, #fe8c00, #f83600); 
}
.sub-topo2{
	background-color: #D3D3D3;
	height:39px !important;
}
.sub-topo2 div ul li a {
	margin: 10px;
	font-size:13px;
	color: #696969 !important;
}

.img_house{
	width: 25px;
	height:21px;
}
.sub-topo2 div ul li a:hover{
	background-color: #C0C0C0 !important;
	color: #000000 !important;
}
nav div ul li .nav_i{
	color: black !important;
}

.container div {
	margin-left: 6px !important;
}

/* -------GERAL DAS COLUNAS----------*/

.conteudo {
	display: flex;
	flex-direction:row;
	align-items: center;
}

.toper ul{
	margin-top: 30px;
}

.div_title{
	background-color: #A52A2A;	
	border-radius: 10px 10px 0px 0px;
	height: 35px;
}

.div_title>h2 {
	font-size: 13px;
	color:white;
	margin-top: 7px;
	padding: 5px;
	list-style:none;
}

article ul li div {
	text-align:left !important;
}

.box{
	text-decoration: none;
	list-style: none;
}

.div_container{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color: #C0C0C0;
	border-radius: 10px;
	border: 5px;
}



/*---------COLUNA 1----------*/

.conteudo article{
	margin: 20px;
}

.lista1 li{
	margin: 9px;
}

.conteudo .column1{
	width: 210px;
	height:1200px;
}

.m_perfil{
	width: 175px;
}

.m_contatos{
	width: 175px;	
}
.perfil{
	width: 180px;
	height: 245px;
}
.foto{
	width:130px;
	heigth:140px;

}
.ed_perfil{
	text-align: right;
}
.ed_perfil a {
	font-size: 9px;
	color: #FF6347;
}
.ed_perfil a:hover{
	background-color:transparent !important;
	text-decoration:none;
	color: #800000;
}

.container_perfil{
	width: 175px;
	height:245px;
}
.nome_user{
	font-size: 12px;
	margin-top: 3px;
}

.descrition{
	margin-top: 10px;
	background-color: white;
	width: 150px;
	height: 193px;
}

.descrition_perfil{
	padding: 10px;
}

.container_contatos{
	width: 175px;
	height:300px;

}

.view_contatos{
	margin: 9px;
	background-color: white;
	width: 160px;
	height: 250px;
}

.container_calendario{
	width: 175px;
	height:300px;
}

.view_calendario{
	margin: 9px;
	background-color: white;
	width: 160px;
	height: 250px;
	
}
.m_calendario{
	width: 175px;		
}





/*---------COLUNA 2----------*/


.conteudo .column2{
	width: 500px;
	height: 1200px;
}

.m_atividades{
	width: 500px;

}

.container_atividades{
	height: 210px;
	width:500px;

}

.view_atividades{
	margin: 9px;
	background-color: white;
	width: 480px;
	height: 150px;

}

.lista2 li{
	margin: 9px;

}

.container_m_atividades{
	height: 210px;
	width:500px;

}

.container_noticias{
	height: 300px;
	width:500px;
}

.m_noticias{
	width: 500px;

}

.view_noticias{
	height: 280px;
	margin: 9px;
	background-color: white;
	width: 480px;
}

/*---------COLUNA 3----------*/


.conteudo .column3{
	width: 300px;
	height: 1200px;
}

.container_comunidades{
	height: 350px;
	width:200px;

}

.m_comunidades{
	width: 200px;
}

.lista3 li{
	magin-left: 5px;
	margin: 9px;

}

.view_comunidades{
	width: 180px;
	height: 340px;
	margin: 9px;
	background-color: white;
}