<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">

<div class="titulo_div">
	<h1 class="titulo" >Intranet - Comunicação para todos !</h1>
</div>

<ul>
	<li><%= link_to "Produtos", products_path %></li>
	<li><%= link_to "Login", new_user_session_path %></li>
	<li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
	<li><%= link_to "Cadastrar", new_user_registration_path %></li>

</ul>

