<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">

<div class="titulo_div">
	<h1 class="titulo" >Intranet - Comunicação para todos !</h1>
</div>

<button><%= link_to "Produtos", products_path %></button>

